/*******************************
Tuts Form Plugin Styles
********************************/

/*
Tuts Form Wrap Styles

*/

.corona-verify-form { padding:30px; display:block; border:1px solid #ccc;font-family: arial; font-size:12px}

/*

Tuts Form Heading

*/
.corna-verify-heading {

font-family: arial;

font-weight:700;

text-transform:capitalize;

}

.corna-verify-heading {

display: block;

font-family: arial;

font-weight: 700; font-size:24px;

margin: 0 0 20px;

text-align: center;

text-transform: capitalize;
}

table {
    display: inline-table;
    margin: 1em;
    border: solid 2px lightgray;
}
table th,
table td {
  border: solid 1px lightgray;
  text-align: left;
}

.collapse {
    border-collapse: collapse;
}
/*

Tuts Form Text Styles
*/
.corona-mitarbeiter-container{
    min-width: 50%;
}

.corona-txt {
    display: block;
    font-size: 1.2em;
    margin: 20px;
}

.corona-txt:after{clear:both; display:block; overflow:hidden; content:""}
.corona-txt > label {

float: left;

width: 180px;

}
.corona-txt > input { border:1px solid #ccc; padding:8px 5px; width:300px; }

/*

Tuts Form Button

*/
.corona-verify-form .button {

background: #ccc none repeat scroll 0 0;

border: 1px solid #ccc;

border-radius: 0; text-transform:uppercase; font-size:15px;font-family: arial;

padding: 10px 20px;

}
.corona-verify-form .button:hover {

background: #000 none repeat scroll 0 0;

border: 1px solid #000;

border-radius: 0;

padding: 10px 20px;
}
.corona-registration-form .error{

color:red;

margin-bottom: 18px;

}
/********* End of Tuts Stylesheet *************/